force-app/main/default/flows/Contact_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Box_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emaiAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailsubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_address</name>
        <label>assign address</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>emaiAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Box_Decision</name>
        <label>Check Box Decision</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Upload_a_File</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Do_you_want_to_Upload_a_File</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Upload_File</targetReference>
            </connector>
            <label>IsChecked?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Info</name>
        <label>Create Contact Info</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>conId</assignRecordIdToReference>
        <connector>
            <targetReference>assign_address</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SelectAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <screens>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>Create_Contact_Details</name>
            <fieldText>Create Contact Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Contact_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Contact_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Communication_Details</name>
            <fieldText>Enter Communication Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Communication_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Communication_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_want_to_Upload_a_File</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to Upload a File</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Upload_File</name>
        <label>Create Upload File</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>conId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Sucessmessage</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/{!conId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to Contact Record List&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi{!First_Name}
Welcome to the salesforce EcoSystem</text>
    </textTemplates>
    <textTemplates>
        <name>emailId</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi{!First_Name}
Welcome to the Salesforce Ecosystem</text>
    </textTemplates>
    <textTemplates>
        <name>emailsubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Regarding the  Timesheet submission</text>
    </textTemplates>
    <textTemplates>
        <name>notificationbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Contact has been Created</text>
    </textTemplates>
    <textTemplates>
        <name>notificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account Related Record Created</text>
    </textTemplates>
    <variables>
        <name>conId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emaiAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
